<p id="notice"><%= notice %></p>

<h1 class="title">Todo Items</h1>

<table class="table table-bordered">
  <thead>
    <tr class="text">
      <th style='font-size:20px;'>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr class="column">
        <td style='color: white;'><%= todo_item.description %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="button">
  <%= link_to 'New Todo Item', new_todo_item_path %>
</div>
